/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Abril Fatface', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
nav {
  height: 8rem;
  padding: 2rem;
  background-color: #FFFFFF;
  background-image: radial-gradient(farthest-corner at 0px 40px, #d4d8a8 10%, #738156 100%);
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #C0C0C0;
}
@media only screen and (max-width:600px) {
  nav {
    padding: 0;
    height: 9rem;
  }
}
nav .nav-links {
  width: 800px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
nav .nav-links .logo h1 {
  font-size: 3.2rem;
}
@media only screen and (max-width:600px) {
  nav .nav-links {
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
  }
}
nav .nav-links ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
nav .nav-links ul li {
  margin-top: 1rem;
}
nav .nav-links ul li a {
  text-decoration: none;
  font-size: 1.8rem;
  padding-left: 4rem;
  color: #253608;
}
nav .nav-links ul li a:hover {
  color: #628f15;
}
.home .about {
  padding-top: 30px;
}
.home .about h2 {
  font-size: 2rem;
}
.home .about p {
  font-size: 1.6rem;
}
.home .about ul {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  list-style: none;
}
.home .about ul li {
  margin-top: 1rem;
}
.home .about ul li a {
  text-decoration: none;
  font-size: 1.8rem;
  padding-left: 1rem;
  color: #253608;
}
.home .about ul li a:hover {
  color: #628f15;
}
.footer {
  width: 100%;
  border-top: 2px solid silver;
  background-image: radial-gradient(farthest-corner at 0px 40px, #d4d8a8 10%, #738156 100%);
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
.home .header .intro {
  padding: 1%;
}
.home .header .intro h1 {
  padding-top: 1%;
  padding-bottom: 1%;
}
@media only screen and (max-width:600px) {
  .home .header .intro {
    width: 95%;
    padding-left: 5%;
  }
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media only screen and (max-width:600px) {
  .home .content-section {
    justify-content: center;
  }
}
.home .content-section .text-content {
  width: 48%;
  padding: 1%;
}
@media only screen and (max-width:600px) {
  .home .content-section .text-content {
    width: 90%;
  }
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media only screen and (max-width:600px) {
  .home .content-section .img-content {
    width: 90%;
  }
}
.home .content-section .img-content img {
  border-radius: 10px;
}
.home .inverse-content {
  padding-bottom: 30px;
  border-bottom: 2px solid #C0C0C0;
}
@media only screen and (max-width:600px) {
  .home .inverse-content {
    flex-direction: column-reverse;
    padding-left: 5%;
  }
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
.home .content-signmeup {
  width: 80%;
  margin: 0 auto 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.home .content-signmeup .btn {
  margin-left: 25%;
  width: 50%;
  height: 4rem;
  padding: 1.25rem;
  background-color: #17A2B8;
  font-size: 1.8rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #FFFFFF;
}
.home .content-signmeup .btn:hover {
  background-color: #36cee6;
}
@media only screen and (max-width:600px) {
  .home .content-signmeup {
    width: 90%;
  }
}
.home .content-signmeup img {
  border-radius: 10px;
}
.home .content-pick {
  padding-top: 30px;
  border-top: 2px solid #C0C0C0;
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width:600px) {
  .home .content-pick {
    flex-direction: column;
    align-items: center;
  }
}
.home .content-pick .skills {
  width: 30%;
  margin-bottom: 30px;
}
@media only screen and (max-width:600px) {
  .home .content-pick .skills {
    margin-left: 5%;
    width: 70%;
  }
}
.projects {
  padding: 3%;
  display: flex;
  flex-flow: column;
}
.projects h3 {
  font-size: 2.5rem;
}
.projects ul {
  list-style: none;
}
.projects ul li {
  margin-top: 0.5rem;
}
.projects ul li a {
  padding-left: 1.6rem;
  text-decoration: none;
  font-size: 1.6rem;
  color: #253608;
}
.projects ul li a:hover {
  color: #b1e657;
}
.home .skills {
  padding-top: 30px;
}
.home .skills h2 {
  font-size: 2rem;
}
.home .skills p {
  font-size: 1.6rem;
}
.home .skills ul {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  list-style: none;
}
.home .skills ul li {
  margin-top: 1rem;
  text-decoration: none;
  font-size: 1.8rem;
}
