// Color assignments 
@font-color: @shark;
@button-bg: @mid;
@main-bg:  @white;
@nav-color: @white;
@link-color: @darkgreen;
@navigation-border: @silver;
@button-link: @white;
@border-color: @shark;

// Colors
@white: #9bacb6;
@silver: #e5dcd2;
@shark: #0f1817;
@eastern-blue: #17A2B8;
@orange: #ffa34d;
@red: #f67575;
@light: #d4d8a8;
@mid: #738156;
@dark: #1eb2a6;
@darkgreen: #253608;


//escaping variable
@mobile: ~"only screen and (max-width:600px)";
@tablet: ~"only screen and (max-width:800px)";

//background images
//@grad: radial-gradient(#99cccc 65%,#9cccaa 100%);

@grad: radial-gradient(farthest-corner at 0px 40px,@light 10%, @mid 100%);