.about-wrap {
  .close-panel {
    background-color: $bg-dark;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding-left: 0.5rem;
    width: 2rem;
    border-radius: 0 15px 15px 0;
    color: $contrast;
    font-size: 2.5rem;
    font-weight: 900;
    font-family: $fancy-sans;
    display: flex;
    align-items: center;
    cursor: pointer;
    .close-panel-button {
      margin: 0 auto;
      user-select: none;
    }
  }
  position: absolute;
  background-color: $background;
  top: 5vh;
  bottom: 6vh;
  right: 10vw;
  left: 5vw;
  z-index: 9;
  color: $white;
  font-family: $sans;
  padding-left: 1rem;
  font-size: calc(8px + 2vh);
  border-radius: 25px;
  border: solid $bg-dark 10px;
  @include short-view {
    top: 1vh;
    left: 1vw;
    bottom: 1vh;

  }
  a{
    color: $link;
    text-decoration: none;
    &:hover {

      color: $contrast;
    }

  }
  &.on {
    transform: translate(0, 0);
    transition: transform 0.3s ease-out;
  }
  &.off {
    transform: translate(calc(-100vw - 25px), 0);
    transition: transform 0.3s ease-in;
    z-index: 8;
  }

  @include nav-break {
    right: 7rem;
  
  }
  .about-content {

    .about-header {
      text-align: left;
      font-family: $sans;
      text-decoration: underline dotted;
      font-size: calc(10px + 4vw);
      padding-bottom: 1vh;
    }
    .about-intro {
    text-align: justify;
      font-size: calc(8px + 3vw);
      padding-bottom: 1vh;
      line-height: 1;
    }
    .about-web {
      text-align: justify;
      font-size: calc(8px + 3vw);
      padding-bottom: 1vh;
      line-height: 1;
      h3 {
        text-align: left;
        font-family: $sans;
        text-decoration: underline dotted;
        font-size: calc(10px + 4vw);
        padding-bottom: 1vh;
      }
    }
    .about-recent {
      text-align: left;
      font-size: calc(8px + 3vw);
      padding-bottom: 1vh;
      line-height: 1;
      h2 {
        text-align: left;
        font-family: $sans;
        text-decoration: underline dotted;
        font-size: calc(16px + 2vw);
        padding-bottom: 1vh;
        @include phone-view {
          font-size: calc(10px + 4vw);
        }
      }
    }
    .about-motion {
      text-align: justify;
      font-size: calc(8px + 3vw);
      padding-bottom: 1vh;
      line-height: 1;
      h2 {
        text-align: left;
        font-family: $sans;
        text-decoration: underline dotted;
        font-size: calc(10px + 4vw);
        padding-bottom: 1vh;
      }
    }
    .about-about {
      text-align: left;
      font-size: calc(8px + 1vw);

      font-family: $fancy-sans;
    }
    margin-right: 10vw;
    padding-right: 2vw;
    height: calc(89vh - 1.1rem);
    overflow-y: auto;
    overflow-x: hidden;
    overscroll-behavior: none;

    line-height: 1.25;
    @include short-view {
      height: calc(100vh - 5.7rem);
    }
    @include nav-break {
      margin-right: 8rem;
    
    }
    /* width */
    &::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: $background;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $contrast;
      border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $link;
      border-radius: 10px;
    }
  }
}
