/* Color Variables */
$bg-color: #282c34;
$white: #b4b4c9;
$text-primary: #b2c2e2;
$text-secondary: #ddd;
$bg-primary: #23232e;
$bg-secondary: #141718;
$icon-primary: #4fa1c2;
$icon-secondary: lighten($icon-primary, 20%);

$speed: 600ms ease;

html {
  font-size: 62.5%;
  color: $text-secondary;
  margin: 0;
  padding: 0;
  background-image: radial-gradient(
      ellipse at 35% 40%,
      rgba($white, 0.1),
      transparent
    ),
    radial-gradient(ellipse at 60% 50%, rgba($white, 0.1), transparent),
    linear-gradient($bg-color, darken($bg-color, 40%));
  background-attachment: fixed;

  body {
    width: 100%;
    height: 100%;
    display: block;
    &::-webkit-scrollbar {
      width: 0.25rem;
    }
    &::-webkit-scrollbar-track {
      background: #1e1e24;
    }
    &::-webkit-scrollbar-thumb {
      background: #22bed3;
    }
    .App {
      width: 100%;
      height: 100%;
    }

    .navbar {
      position: fixed;
      width: 8rem;
      height: 100vh;
      color: $text-primary;
      background-color: $bg-primary;
      transition: $speed;
      overflow: none;
      &:hover {
        width: 20rem;
        transition: $speed;
        .link-text {
          display: block;
          
        }
      }
      .link-text {
        display: none;
        font-size: 1.6rem;
        margin-left: 1rem;
      }
      .navbar-nav {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
      }
      .nav-item {
        width: 100%;
        &:last-child {
          margin-top: auto;
        }
        .nav-link {
          display: flex;
          align-items: center;
          height: 8rem;
          color: $text-primary;
          text-decoration: none;
          filter: grayscale(100%) opacity(0.7);
          transition: $speed;
          &:hover {
            filter: grayscale(0%) opacity(1);
            background: $bg-secondary;
            color: $text-secondary;
          }
          .ea-star-icon {
            width: 70px;
            .ea-star {
              color: $icon-primary;
            }
            .ea-shine {
              color: $icon-secondary;
            }
          }
        }
      }
    }

    main {
      font-size: 1.8rem;
      margin-left: 8rem;
    }

    footer {
      margin-top: auto;
      font-size: 1.6rem;
      color: $white;
    }
  }
}
