.contact {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    img {
        width: 4rem;
    }
    .error {
        color: $red;
    }
    .social {
        background-color: #abc;
        color: $black;
        ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        }
        li{
            padding: 2rem;
        }
        img {
            filter: grayscale(0%);
            &:hover {
                filter: hue-rotate(20deg) brightness(300%);
            }
        }
    }
}
