.contact-form {
  position: relative;
  z-index: 10;
  width: calc(57vw + 5rem);
  font-family: $sans;
  max-height: 17vh;
  margin-left: -1.1rem;
  @include nav-break {
    width: calc(100vw - 23rem);
  }
}
.contact-intro {
  position: fixed;
  z-index: 12;
  padding: 1rem;
  top: 0;
  left: 25vw;
  background-color: $bg-dark;
  border-radius: 0 0 10px 10px;
  h2 {
    transform: rotate(3deg);
    font-weight: bold;
  }
}
.contact-item {
  font-family: $sans;
  font-weight: bold;
  width: calc(58vw + 1rem);
  text-align: left;
  color: $black;
  @include nav-break {
    width: calc(100vw - 27rem);
  }

  .form-group {
    margin-left: -1.3rem;
    padding-top: 0.5rem;
    font-size: 1.2rem;
    label {
      margin-left: 2rem;
      font-size: calc(20px + 1vw);
    }
  }
  .contact-button {
    margin: 0.9rem 0 0 0.9rem;
    button {
      background-color: $background;
      color: $white;
      height: 3rem;
      font-size: 2rem;
      font-weight: bold;
      border-radius: 10px;
      &:disabled {
        background-color: $blue;
        color: $bg-light;
      }
    }
  }
  .error {
    color: $red;
    margin-left: 0.9rem;
    padding: 0.9rem;
    font-size: calc(18px + 1vw);
  }
  .form-control {
    font-family: $fancy-sans;
    display: block;
    min-width: 16rem;
    width: 50vw;
    margin: 1rem 0 0 1rem;
    font-size: calc(10px + 1vh);
    padding: 0.5rem;
    line-height: 1.2;
    color: $black;
    background-color: $white;
    background-clip: padding-box;
    border: 1px solid $background;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    @include nav-break {
      width: calc(100vw - 28rem);
    }
  }
  .form-control-tall {
    display: block;
    min-width: 16rem;
    width: 50vw;
    margin: 1rem 0 0 1rem;
    font-family: $fancy-sans;
    font-size: calc(10px + 1vh);
    padding: 0.5rem;
    line-height: 1.1;
    color: $black;
    background-color: $white;
    background-clip: padding-box;
    border: 1px solid $background;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    @include nav-break {
      width: calc(100vw - 28rem);
    }
  }
}
.social-icon {
  text-align: right;

  height: calc(200px + 38vmax);

  svg {
    transform: rotate(20deg);
    cursor: pointer;
    position: absolute;
    z-index: 9;
    bottom: 0;
    left: 8rem;
    width: 8rem;
    fill: $contrast;
    &:hover {
      fill: $link;
    }
    @include nav-break {
      right: 8rem;
    }
  }
}
.contact-error {
  color: $red;
  margin-right: 18vw;
  text-align: left;
  padding: 1rem;
  line-height: 1.3;
}
.form-footer {
  text-align: center;
  font-size: calc(5px + 1.8vh);
}

.contact-bottom {
  position: fixed;
  z-index: 8;
  font-weight: bold;
  text-align: center;
  color: $black;
  left: 3px;
  margin: 0.5rem;
  cursor: pointer;
  bottom: 3px;
  background-color: $bg-light;
  padding: 1.5rem;
  width: 5rem;
  height: 5rem;
  border-radius: 45%;
  border: 5px solid $bg-dark;
  p {
    font-size: 1.3rem;
  }
  transform: rotate(-3deg);
  @include nav-break {
    margin-right: 20rem;
  }
}
