footer {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 1.6rem;
    color: $white;
    @include phone-view(){
        justify-content: space-around;
        padding-bottom: 10rem;
    }
    p {
        padding-right: 5vw;
    }
}