.App {
  text-align: center;
}

.App-header {
  display: flex;
  font-family: $nav-sans;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(23px + 2vmin);
  font-weight: bold;
  color: $white;
}

.App-link {
  color: $link;
}
.intro {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  text-align: left;
  z-index: 0;
  padding: 1rem;
  text-shadow: 4px 4px 3px $black;
  h1 {
    font-size: calc(10px + 5vmin);
    padding-bottom: 0.5rem;
  }
  p {
    font-size: calc(10px + 3vmin);
  }
}


