
.main {
    font-size: 1.8rem;
    margin-top: 0;


    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    @include phone-view() {
   
        
    }
    .logo-header{
        margin: 0 auto;

    }

    .splash-border{
        border: 1rem solid transparent;
        margin-top: 2rem;
        margin-left: 8rem;
        width: 80%;
        border-image: url(../svg/border-light.svg) 5% stretch;
        box-shadow: 7px 10px 23px -6px rgba(0,0,0,0.75);
        @include phone-view(){
            width: 85%;
            margin: 0;
        }
    }
    .splash {
        display: grid;


        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr;
        align-items: center;
        background-color: #abc;
        font-family: $josefin-sans;


        padding: 5rem;



        min-width: 60vw;

        @include mid-width{
            grid-template-columns: 2fr;
            grid-template-rows: 1fr 2fr;
            justify-content: center;
        }
        .logo-text {
            z-index: 0;
            transform: rotate(-5deg);
            width: 28rem;
            height: 10rem;
            background-image: url(../svg/logo-backing.svg);
            background-size: cover;
            @include phone-view() {
                width: 34rem;
                height: 12rem;
            }


        }
        h1 {
            padding: 4rem 0 0 3rem;
            font-size: 3.8rem;

            color: #abc;
            @include phone-view(){
                padding: 4.5rem 0 0 4rem;
                font-size: 4.5rem;
            }
        }
        h2 {
            padding-left: 2rem;
            padding-top: 2rem;
            color: #234;
            @include phone-view() {
                padding-left: 5rem;
            }
        }
        .profile-picture{
            margin: 3rem;
            border: 2rem solid transparent;
            border-image: url(../svg/border-profile.svg) 15% stretch;
        }
        .profile {
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            .profile-pic{
                transition: 5s;
                filter: grayscale(100%);
                &:hover {
                    transition: 3s;
                    filter: grayscale(30%);
                }
            min-width: 18rem;
            height: 22rem;
            @include mid-width() {

                height: 25rem;

            }
            }

            background-image: radial-gradient(ellipse at top, rgba($black, .45), transparent),
            linear-gradient(transparent, rgba($black, .4));
            &:hover {

                background-image: radial-gradient(ellipse at top, rgba(lighten(purple, 10%), .6), transparent),
                linear-gradient(transparent, rgba(lighten($black, 10%), .5));
            }
        }
    }
}