
.project-card {
    margin: 1rem;
    border: 2rem solid transparent;
    border-image: url(../svg/project-border-bg.svg) 35% stretch;
    box-shadow: 3px 4px 12px 6px $black;

}
.header {
    font-size: 5rem;
    color: $white;
    padding: 1rem 0 2rem 0rem;
    
    @include phone-view(){
        padding: 1rem 0 2rem 1rem;
    }
}
.project-item {

    background-color: #abc;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    padding: .5rem;
    @include phone-view(){
        flex-direction: column;
    }
    h1 {
        padding: 0 0 1rem;
        color: $black;
    }
    p {
        color: $black;
    }
}
.header {

    margin: 1rem 0 0 3rem;
    font-size: 5rem;
    color: $white;
}
.project-img {
    background-color: #abc;
    padding: 2rem;
    margin: 1rem;
    min-width: 8rem;
    min-height: 8rem;
    background-position-x:-40px;
    background-position-y:-80px;
    background-size: 800px;
    transition: 3s;
    border: 1rem solid transparent;
    border-image: url(../svg/border-inner.svg) 25% stretch;

    &:hover{
        transition: 3s;
        background-position-x:-10px;
        background-position-y:-60px;
        background-size: 480px;
    }

    @include phone-view(){
        height: 16rem;


    }
}
.project-icons {
    height: 5rem;

    display: flex;
    align-items: center;
    justify-content: space-around;
    @include phone-view(){
        justify-content: space-between;
    }
    img {
        width: 4rem;
        padding-right: 0rem;

    }
}
.project {
    margin: 1rem;

a{
    text-decoration: none;
    color: lighten($black, 20%);
}
p{
    padding-top: 1rem;
    max-width: 60rem;
    line-height: 2.3rem;
    @include phone-view(){
        width: 30rem;
    }
}
}