
.project-card {

    margin: 3rem;
    border: 1.6rem solid transparent;
    border-image: url(../svg/project-border-bg.svg) 15% stretch;
    box-shadow: 3px 4px 12px 6px $black;
}
.project-item {

    background-color: #abc;
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-gap: 1rem;
    @include phone-view(){
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
    }
    h1 {
        padding: 0 0 1rem;
        color: $black;
    }
    p {
        color: $black;
    }
}
.header {

    margin: 1rem 0 0 3rem;
    font-size: 5rem;
}
.project-img {
    padding: 2rem;
    min-width: 8rem;
    min-height: 8rem;
    background-position-x:-40px;
    background-position-y:-80px;
    background-size: 800px;
    transition: 3s;
    border: 1rem solid transparent;
    border-image: url(../svg/border-inner.svg) 25% stretch;

    &:hover{
        transition: 3s;
        background-position-x:-60px;
        background-position-y:-60px;
        background-size: 550px;
    }

    @include phone-view(){
        height: 16rem;


    }
}
.project a{
    text-decoration: none;
    color: lighten($black, 20%);
}