.skills {
    margin: 1rem;

    @include phone-view(){
        margin-left: 1rem;
    }
    h1{
        margin: -1rem 0 0 -1rem;
    }


    .ea-bio {
        grid-area: ea-bio;
    }
    .web-dev {
        grid-area: web-dev;
    }
    .code {
        grid-area: code;
    }
    .design {
        grid-area: design;
    }
    .mo-graph {
        grid-area: mo-graph;
    }
    .ani {
        grid-area: ani;
    }
    .paint {
        grid-area: paint;
    }
    .puppet {
        grid-area: puppet;
    }
    .skills-grid {
        display: grid;
        display: grid;
        grid-template-columns: 3fr 3fr 3fr 3fr;
        grid-template-rows: auto;
        grid-template-areas: 
          "ea-bio ea-bio ea-bio ea-bio"
          "web-dev web-dev web-dev code"
          "design mo-graph mo-graph mo-graph"
          "ani ani paint puppet";
        column-gap: 2rem;
        row-gap: 2rem;

        @include phone-view(){
            grid-template-columns: 8fr 4fr;
            grid-template-rows: auto;
            grid-template-areas: 
              "ea-bio ea-bio"
              "web-dev web-dev"
              "mo-graph mo-graph"
              "design design"
              "ani ani"
              "puppet code "
              "paint code";
            column-gap: 1.6rem;
            row-gap: 1.6rem;
        }

        

    }
        .skill-container {


        border: .8rem solid transparent;
        border-image: url(../svg/border-light.svg) 5% stretch;
        box-shadow: 3px 4px 12px 6px $black;




    }
    .skill-content {

        color: $black;
        height: 100%;
        background-color: $blue;
        h2{
            padding: 2rem 0 0 2rem;
        }
        p {
            padding: 0 2rem 2rem 2rem;
        }
        ul {
            padding: 0 0 2rem 2rem;
        }

    }

}