.splash-wrap {
  margin: 1rem;

  position: relative;
  border: .8rem solid transparent;
  border-image: url(../svg/border-dark.svg) 8% stretch;
  width: calc(100vw - 16rem);
  min-width: 70vw;
  min-height: 30vh;
  max-height: calc(100vh - 15rem);
  z-index: 1;
  top: calc(10vh + 100px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  border-radius: 25px;
  .splash-bg {

    width: calc(100vw - 16rem);
    min-width: 70vw;
    background-color: $background;
    .splash-header {
      color: $white;
      margin-top: 1rem;
      font-size: calc(20px + 4vmin);
      font-family: $sans;
      font-weight: bold;
      padding-right: 15vw;
      text-decoration: underline;
      text-align: right;
      user-select: none;
      @include nav-break {
        padding-right: 5rem;
      }
    }
    .splash-border {
      min-height: 20vh;
      width: calc(100vw - 21.5rem);
      min-width: 64.5vw;
      margin: 1rem auto;

      .splash-body {
        color: $white;
        display: grid;
        font-family: $sans;
        font-weight: bold;
        background-color: $background;
        font-size: calc(1rem + 4vw);
        max-height: calc(100vh - 22rem);

        align-self: start;

        width: calc(100vw - 21.5rem);
        min-width: 64.5vw;

        column-gap: normal;
        grid-template-areas:
          "title"
          "img"
          "desciption"
          "bullet";

        @include phone-view {
          grid-template-areas:
            "title title"
            "img  bullet"
            "desciption desciption";
        }
        overflow-y: auto;
        overflow-x: hidden;
        /* width */
        &::-webkit-scrollbar {
          width: 10px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          background: $bg-light;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: $contrast;
          border-radius: 10px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          background: $link;
          border-radius: 10px;
        }
        @include phone-view {
        }
        .splash-title {
          display: flex;
          justify-content: space-between;
          grid-area: title;
          font-family: $sans;
          margin: 0.5rem;
          svg {
            width: calc(14px + 4vmin);
            padding-right: 1vw;
            fill: $white;
          }

        }
        .splash-img {
          grid-area: img;
          text-align: left;

          img {
            margin: 1rem;
            min-width: 10rem;
            width: calc(25px + 50vw);
            @include phone-view {
              left: 0;
              max-width: calc(75px + 15vw);
            }
          }
        }
        .splash-description {
          grid-area: desciption;
          text-align: left;
          margin: 1rem;

          font-size: calc(10px + 3vmin);
        }
        .splash-bullet {
          grid-area: bullet;
          font-size: calc(13px + 2vmin);
          text-align: left;
          width: 50vw;
          margin: 1rem 1em 1rem 2rem;
          @include phone-view {
            width: 30vw;
          }

          li {
            margin-left: 0.5rem;
            list-style-type: square;
          }
        }
      }
    }
  }
}
