/* Color Variables */
$bg-color: #282c34;
$white: #b4b4c9;
$black: #123;
$text-primary: #b2c2e2;
$text-secondary: #ddd;
$bg-primary: #23232e;
$bg-secondary: #141718;
$icon-primary: #4fa1c2;
$icon-secondary: lighten($icon-primary, 20%);
$logo-primary: #bd3b2a;
$logo-secondary: darken($logo-primary, 20%);


$speed: 600ms ease;

@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap);
$josefin-sans: 'Josefin Sans', sans-serif;